body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top right, #dbeeff, #a3c8e8, #6693ba);
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 300px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 300px;
}

h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

p {
  background: #e6f4ff;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  margin: 10px;
  font-size: 16px;
  width: 260px;
  text-align: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #e6f4ff;
  color: #000;
  border: none;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

button:hover {
  background-color: #d1eaff;
}

input {
  border: 2px solid transparent;
  width: 95%;
  height: 2.5em;
  margin-bottom: 15px;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #90cdf4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-nav a {
  font-size: 26px;
  color: #000;
  text-decoration: none;
}

.bottom-nav a.active {
  font-weight: bold;
  color: #1e40af;
}

.top-right-streak {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  background-color: #ffffffcc;
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}